.advantage {
	display: grid;
	grid-template-columns: 50px 1fr;
	gap: 10px 40px;

	margin-bottom: 30px;
}

.title {
	align-self: center;

	color: #3B434E;

	font-size: 20px;
	font-weight: bold;
	line-height: 27px;
}

.vline {
	border-left: 1px solid var(--grey-light);
}

.seo h1 {
	margin: 0;

	font-size: 26px;
	font-weight: 500;
	line-height: 35px;
}

.seo h2 {
	margin-top: 50px;
	margin-bottom: 25px;

	font-size: 22px;
	font-weight: 500;
	line-height: 30px;
}

.seo h3 {
	margin: 0;

	font-size: 20px;
	font-weight: 600;
	line-height: 27px;
}
