.sidebar {
	display: grid;
	align-content: start;
	gap: 20px;

	/* position: fixed;
    overflow-y: scroll; */
}

.logo {
	text-align: center;

	color: var(--primary);

	font-size: 36px;
	font-weight: 700;
	line-height: 49px;
}
